<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/scripts/graph.js"></script>
</head>

<body>
  <p id='name' name={{name}}>/hbd/saved/{{name}}</p><br>
  <svg id='svg' width='960' height='500'></svg><br><br>
  <button type="button" onclick="window.location.href='/saved'">Back to saved</button>
  <button type="button" onclick="window.location.href='/home'">Home</button>
</body>
