<!DOCTYPE html>
{{> head}}

<body>
  <p>Success. </p><br>
  <button type="button" onclick="window.location.href='/saved'">View saved</button>
  <button type="button" onclick="window.location.href='/new'">Add new</button>
  <button type="button" onclick="window.location.href='/home'">Home</button>
</body>